* { box-sizing:border-box; }
/* basic stylings ------------------------------------------ */
.container	{ 
  font-family:'Roboto';
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  padding:10px 50px 50px;
}

div.container{
  margin-top:250px;
}


.container5	{ 
  font-family:'Roboto';
  /* width:600px;  */
  margin:30px auto 0; 
  display:block; 
  padding:10px 10px 10px;
}

.bg-gold {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 800% 800%;
	animation: gradient 8s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 50% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
h2 		 { 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.container1{
  width: 900px;
  height: 580px;
  background: white;
  font-family:'Roboto';
  display: block;
  margin:30px auto 0; 

}

.transparent{
  background: transparent;
}



.btn1 {
  /* top: 50%;
  left: 50%; */
  background-color:  white;
  font-family:'Roboto';
  color: black;
  font-size: 16px;
  padding: 18px 50px;
  border: none;
  cursor: pointer;
  border-radius: 45px;
  text-align: center;
}

.btn1:hover {
  background-color: black;
  color: white;
}

.Header{
  color: #23d5ab;
}

.btn2 {
  /* top: 50%;
  left: 50%; */
  background-color: #f1f1f1;
  font-family:'Roboto';
  color: black;
  font-size: 16px;
  padding: 7px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.btn3 {
  /* top: 50%;
  left: 50%; */
  font-family:'Roboto';
  color: black;
  font-size: 16px;
  padding: 7px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}



div.backBtn {
  width: 100px;
  left: 100px;
  top: 100px;
  background-color: #f4f4f4;
  transition: all 0.4s ease;
  position: fixed;
  cursor: pointer;
}

span.line {
  bottom: auto;
  right: auto;
  top: auto;
  left: auto;
  background-color: #333;
  border-radius: 10px;
  width: 100%;
  left: 0px;
  height: 2px;
  display: block;
  position: absolute;
  transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s, background-color 0.2s ease;
}

span.tLine {
  top: 0px;
}

span.mLine {
  top: 13px;
  opacity: 0;
}

span.bLine {
  top: 26px;
}

.label {
  position: absolute;
  left: 0px;
  top: 5px;
  width: 100%;
  text-align: center;
  transition: all 0.4s ease;
  font-size: 1em;
}

div.backBtn:hover span.label {
  left: 25px
}

div.backBtn:hover span.line {
  left: -10px;
  height: 5px;
  background-color: #F76060;
}

div.backBtn:hover span.tLine {
  width: 25px;
  transform: rotate(-45deg);
  left: -15px;
  top: 6px;
}

div.backBtn:hover span.mLine {
  opacity: 1;
  width: 30px;
}

div.backBtn:hover span.bLine {
  width: 25px;
  transform: rotate(45deg);
  left: -15px;
  top: 20px;
}
 
.backbtn{
  position: relative;
margin-left: 15px;
padding-top: 12px;
color: red;
}


.generatebtn1{
  display:block;
  padding: 10px 24px;
  width: 50%;
  margin: 16px;
}
.generatebtn2{
  display:block;
  padding: 10px 24px;
  width: 50%;
  margin: 16px;
}


div.generatebtn1{
  margin: 100px 60% 24px 70%;
}
div.generatebtn2{
  margin: 100px 60% 24px 70%;
}

.Header{
  color: blue;
  font-family: 'Grenze', serif;

}

.Para{
color:black;
font-size: 18px
}


.Footer{
  color:rgb(106, 107, 25);
font-family: 'Roboto Slab', serif;
}

.fulltext{
margin-left: 80px;

}

html, body {
  height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(102, 11, 221);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #000000;
  box-shadow: 0px 15px 20px rgba(0, 34, 228, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
